@()

@main("Welcome to Play") {

<!-- Override bootstrap styling -->
<style>
a:link { color: rgb(0, 0, 0); border-bottom: none; }
a:hover { background-color:yellow; }
</style>

<!-- Main text output area -->
<div ng-controller="SharedTxtCtrl">
	<!-- Box to send data to server -->
	<div>
		<input type="text" ng-model="inputText" />
      	<button ng-click="sendData()">Send</button>
	</div>

	<br>
	<button ng-click="getView()">View</button>
	<button ng-click="getMarkup()">Markup</button>

	<div ng-switch on="selection">
        <!-- Text output area. Propagates using ng-repeat -->
		<div style="padding-top:0.8cm; padding-left:0.2cm;" ng-switch-when="view">
			<hello-world></hello-world>
	   		<!-- <a href="#" ng-repeat="user in editables" editable-text="user.name" onbeforesave="sendDataFromEditables($index, $data)">{{ user.name || "empty" }} </a> -->
	    	<!-- <a href="#" editable-select="user.status" e-ng-options="s.value as s.text for s in statuses">{{ showStatus() }}</a> -->
	    </div>
        <div ng-switch-when="markup">
        	<input type="text" ng-model="htmlcontent"></input>
			<div ng-controller="test">
    			<div text-angular ng-model="htmlcontent"></div>
			</div>
			<div ta-bind="text" ng-model="htmlcontent"></div>
		</div>
    </div>
	<br>

	<!-- Text output area. Propagates using ng-repeat -->
	<div style="padding-left:2cm;">
		<hello-world></hello-world>
   		<!-- <a href="#" ng-repeat="user in editables" editable-text="user.name" onbeforesave="sendDataFromEditables($index, $data)">{{ user.name || "empty" }} </a> -->
    	<!-- <a href="#" editable-select="user.status" e-ng-options="s.value as s.text for s in statuses">{{ showStatus() }}</a> -->
    </div>
</div>
}
